.search_section {
  padding: 20px 0 80px 0;

  @media screen and (min-width: 1440px) {
    padding-top: 50px;
  }

  label {
    font-size: 12px;
    line-height: 1.7;
    @include whiteWithOpacity(0.3);

    @media screen and (min-width: 768px) {
      display: block;
      margin-bottom: 8px;
    }
  }

  input::placeholder {
    font-family: inherit;
    font-style: normal;
    font-size: 14px;
    line-height: 1.29;
    color: $text-color;

    @media screen and (min-width: 768px) {
      line-height: 1.125;
    }
  }

  input {
    border-radius: 100px;
    padding: 14px 24px;
    width: 100%;
    color: $text-color;
    transition: box-shadow $transition;

    &:focus {
      box-shadow: 0 0 5px $focus-color;
    }

    @media screen and (min-width: 768px) {
      padding: 16px 24px;
    }
  }

  input:focus {
    outline: none;
  }

  .search_wrap {
    .search_form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 12px;

      @media screen and (min-width: 768px) {
        flex-direction: row;
      }

      .search_button {
        position: absolute;
        bottom: 30%;
        right: 24px;
        transform: translateY(30%);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;

        @media screen and (min-width: 768px) {
          bottom: 35%;
          transform: translateY(36%);
        }

        .search_icon {
          fill: transparent;
          stroke: $text-color;
        }
      }

      .relative_div {
        position: relative;

        @media screen and (min-width: 768px) {
          flex-basis: calc((100% - 3 * 8px) / 4);
        }

        #comic-name {
          background-color: $accent-purple;
          padding-right: 50px;
        }

        #name-starts-with {
          width: 100%;
          border: 2px solid $accent-purple;
          background-color: $contrast-black;
          padding-right: 50px;
        }
      }

      .filter_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        @media screen and (min-width: 768px) {
          flex-direction: row;
          width: 50%;
          justify-content: space-evenly;
        }

        .select_wrap {
          position: relative;
          flex-basis: calc((100% - 8px) / 2);

          .select_order {
            font-family: inherit;
            display: block;
            appearance: none;
            width: 100%;
            border-radius: 100px;
            padding: 14px 24px;
            border: 2px solid $accent-purple;
            color: $text-color;
            background-color: $contrast-black;
            cursor: pointer;
            transition: box-shadow $transition;

            &:focus {
              outline: none;
            }

            @media screen and (min-width: 768px) {
              padding: 16px 24px;
            }
          }

          .select_show_btn {
            position: absolute;
            top: 50%;
            right: 10px;
            z-index: 3;
            background-color: transparent;

            @media screen and (min-width: 768px) {
              top: 55%;
            }

            .select_icon {
              stroke: $text-color;
              fill: none;
            }
          }
        }

        .date_filter_wrap {
          position: relative;
          flex-basis: calc((100% - 8px) / 2);

          .date_input {
            font-family: inherit;
            border-radius: 100px;
            padding: 14px 24px;
            border: 2px solid $accent-purple;
            color: $text-color;
            background-color: $contrast-black;
            transition: box-shadow $transition;

            &:focus {
              box-shadow: 0 0 5px $focus-color;
            }

            @media screen and (min-width: 768px) {
              padding: 16px 24px;
            }
          }

          .calendar_show_btn {
            position: absolute;
            top: 50%;
            right: 10px;
            z-index: 3;
            background-color: transparent;

            @media screen and (min-width: 768px) {
              top: 55%;
            }

            .select_icon {
              stroke: $text-color;
              fill: none;
            }
          }
        }
      }
    }
  }
}
