.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  overflow-y: scroll;
  backdrop-filter: blur(10px);
  cursor: pointer;

  &.is-shown {
    display: block;
  }

  &.is-hidden {
    display: none;
  }

  .modal_window {
    position: absolute;
    top: 30px;
    right: 50%;
    max-width: 100%;
    min-height: 100%;
    border-radius: 8px;
    padding: 40px 20px;
    transform: translateX(50%);
    z-index: 3;
    background-color: $bg-color;
    color: $text-color;
    cursor: default;

    &.is-shown {
      display: block;
    }

    &.is-hidden {
      display: none;
    }

    .close_btn {
      position: absolute;
      top: 14px;
      right: 14px;
      background-color: transparent;

      &:hover .close_icon,
      &:focus .close_icon {
        stroke: $accent-red;
      }

      .close_icon {
        stroke: $text-color;
        transition: stroke $transition;
      }
    }

    .images_wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
      margin-bottom: 16px;

      .main_image {
        width: 100%;
        min-height: 385px;
        border-radius: 8px;
        object-fit: cover;
      }

      .additional_images_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: 100%;

        .small_image {
          min-width: 80px;
          height: 80px;
          border-radius: 8px;
          object-fit: cover;
        }
      }
    }

    .comics_container {
      border-radius: 8px;
      padding: 32px 16px;
      background-color: $contrast-black;

      .info_wrap {
        .title {
          font-size: 18px;
          font-weight: 500;
          line-height: 1.33;
          letter-spacing: -0.36px;
        }

        .date {
          line-height: 1.29;
          margin-bottom: 16px;
          @include whiteWithOpacity(0.5);
        }

        .description {
          line-height: 1.29;
          margin-bottom: 32px;
        }
      }

      .comics_list_wrap {
        .title {
          font-size: 18px;
          font-weight: 500;
          line-height: 1.33;
          letter-spacing: -0.36px;
          margin-bottom: 16px;
        }

        .comics_list {
          display: flex;
          flex-direction: column;
          gap: 32px;

          .comics_item {
            .comics_cover {
              width: 100%;
              min-height: 263px;
              border-radius: 15px;
              margin-bottom: 16px;
            }

            .comics_character {
              font-weight: 500;
              line-height: 1.29;
              letter-spacing: -0.28px;
            }

            .comics_author {
              font-size: 12px;
              line-height: 1.17;
              @include whiteWithOpacity(0.5);
            }
          }
        }
      }
    }
  }
}
