@import './vars';
@import './reset';
@import './header';
@import './hero';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 365px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 734px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1406px;
  }
}
