<section class="characters_hero_section">
  <div class="hero_container">
    <div class="container">
      <div class="hero_text_wrap">
        <p class="first_line">Web-based platform</p>
        <h1 class="main_title">Characters</h1>
        <p class="info_text">
          With over 70,000 characters in the Marvel Multiverse, this is the most
          complete public listing in existence.
        </p>
      </div>
      <a href="index.html" class="back_home_link">Back home</a>
    </div>
  </div>
</section>
