<div class="backdrop is-hidden" data-backdrop>
  <div class="modal_window" data-modal>
    <button class="close_btn" type="button" data-modal-close>
      <svg width="20" height="20" class="close_icon">
        <use href="./images/icons/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <div class="modal_positioning_wrap">
      <div class="images_wrap">
        <img
          class="main_image"
          src="./images/random/marvel.jpeg"
          alt="Main marvel character"
        />
        <div class="additional_images_wrap">
          <img
            class="small_image"
            src="./images/random/marvel.jpeg"
            alt="Additional character's scene"
          />
          <img
            class="small_image"
            src="./images/random/marvel.jpeg"
            alt="Additional character's scene"
          />
          <img
            class="small_image"
            src="./images/random/marvel.jpeg"
            alt="Additional character's scene"
          />
        </div>
      </div>

      <div class="comics_container">
        <div class="info_wrap">
          <div class="title_wrap">
            <p class="title">Lorem</p>
            <p class="date">July 9, 2021</p>
          </div>
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id,
            perferendis. Impedit earum pariatur repellat fugiat sint repellendus
            aliquam ducimus, sapiente numquam eum dolorem quae, molestiae eius
            minus obcaecati harum similique!
          </p>
        </div>
        <div class="comics_list_wrap">
          <p class="title">List of comics</p>
          <ul class="comics_list">
            <li class="comics_item">
              <img
                class="comics_cover"
                src="./images/random/marvel.jpeg"
                alt="Comics cover"
              />
              <p class="comics_character">Lorem</p>
              <p class="comics_author">Lorem</p>
            </li>
            <li class="comics_item">
              <img
                class="comics_cover"
                src="./images/random/marvel.jpeg"
                alt="Comics cover"
              />
              <p class="comics_character">Lorem</p>
              <p class="comics_author">Lorem</p>
            </li>
            <li class="comics_item">
              <img
                class="comics_cover"
                src="./images/random/marvel.jpeg"
                alt="Comics cover"
              />
              <p class="comics_character">Lorem</p>
              <p class="comics_author">Lorem</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
