<div class="backdrop is-hidden" data-backdrop>
  <div class="modal_window comics_modal" data-modal>
    <button class="close_btn" type="button" data-modal-close>
      <svg width="20" height="20" class="close_icon">
        <use href="./images/icons/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <div class="modal_positioning_wrap">
      <div class="images_wrap">
        <img
          class="main_image"
          src="./images/random/marvel.jpeg"
          alt="Comic's cover"
        />
        <div class="additional_images_wrap">
          <img
            class="small_image"
            src="./images/random/marvel.jpeg"
            alt="Additional comic's scene"
          />
          <img
            class="small_image"
            src="./images/random/marvel.jpeg"
            alt="Additional comic's scene"
          />
          <img
            class="small_image"
            src="./images/random/marvel.jpeg"
            alt="Additional comic's scene"
          />
        </div>
      </div>

      <div class="comics_container">
        <div class="info_wrap">
          <div class="title_wrap">
            <p class="title">Lorem</p>
            <p class="date">July 9, 2021</p>
          </div>
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id,
            perferendis. Impedit earum pariatur repellat fugiat sint repellendus
            aliquam ducimus, sapiente numquam eum dolorem quae, molestiae eius
            minus obcaecati harum similique!
          </p>

          <ul class="additional_info_list">
            <li class="info_item">
              <p class="info_name">Format</p>
              <p class="info_details">Comic</p>
            </li>
            <li class="info_item">
              <p class="info_name">Release</p>
              <p class="info_details">1967</p>
            </li>
            <li class="info_item">
              <p class="info_name">Pages</p>
              <p class="info_details">29</p>
            </li>
            <li class="info_item">
              <p class="info_name">Price</p>
              <p class="info_details">$3.99</p>
            </li>
          </ul>
        </div>

        <div class="comics_creators_wrap">
          <p class="title">Creator</p>
          <div class="creator_wrap">
            <img
              class="creator_pic"
              src="./images/random/marvel.jpeg"
              alt="Comics cover"
            />
            <div class="creator_info_wrap">
              <p class="creator_role">Writer</p>
              <p class="creator_name">Michael</p>
            </div>
          </div>
          <p class="title">Characters</p>
          <ul class="characters_list">
            <li class="comics_item">
              <img
                class="character_img"
                src="./images/random/marvel.jpeg"
                alt="Character"
              />
              <p class="character_name">Lorem</p>
            </li>
            <li class="comics_item">
              <img
                class="character_img"
                src="./images/random/marvel.jpeg"
                alt="Character"
              />
              <p class="character_name">Lorem</p>
            </li>
            <li class="comics_item">
              <img
                class="character_img"
                src="./images/random/marvel.jpeg"
                alt="Character"
              />
              <p class="character_name">Lorem</p>
            </li>
            <li class="comics_item">
              <img
                class="character_img"
                src="./images/random/marvel.jpeg"
                alt="Character"
              />
              <p class="character_name">Lorem</p>
            </li>
            <li class="comics_item">
              <img
                class="character_img"
                src="./images/random/marvel.jpeg"
                alt="Character"
              />
              <p class="character_name">Lorem</p>
            </li>
            <li class="comics_item">
              <img
                class="character_img"
                src="./images/random/marvel.jpeg"
                alt="Character"
              />
              <p class="character_name">Lorem</p>
            </li>
            <li class="comics_item">
              <img
                class="character_img"
                src="./images/random/marvel.jpeg"
                alt="Character"
              />
              <p class="character_name">Lorem</p>
            </li>
            <li class="comics_item">
              <img
                class="character_img"
                src="./images/random/marvel.jpeg"
                alt="Character"
              />
              <p class="character_name">Lorem</p>
            </li>
            <li class="comics_item">
              <img
                class="character_img"
                src="./images/random/marvel.jpeg"
                alt="Character"
              />
              <p class="character_name">Lorem</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
