<footer class="footer panther">
  <div class="container footer_wrap">
    <a href="#">
      <svg width="98" height="15" class="footer_logo">
        <use href="./images/icons/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <a href="characters.html" class="footer_link">Characters</a>
    <ul class="socials_list">
      <li class="socials_item">
        <a href="#">
          <svg width="14" height="14" class="facebook_icon">
            <use href="./images/icons/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="socials_item">
        <a href="#">
          <svg width="14" height="14" class="insta_icon">
            <use href="./images/icons/sprite.svg#icon-insta"></use>
          </svg>
        </a>
      </li>
      <li class="socials_item">
        <a href="#">
          <svg width="14" height="14" class="twitter_icon">
            <use href="./images/icons/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
