<header class="header">
  <div class="container wrapper">
    <a href="./index.html" class="logo_link">
      <svg width="100" height="15" class="logo_icon">
        <use href="./images/icons/sprite.svg#icon-logo"></use>
      </svg>
    </a>

    <form class="search_form">
      <input
        id="header-search"
        type="text"
        autocomplete="off"
        required
        class="input"
      />

      <div class="button_label_wrap">
        <button type="submit" class="button">
          <svg width="16" height="16" class="icon">
            <use href="./images/icons/sprite.svg#icon-search"></use>
          </svg>
        </button>
        <label class="label" for="header-search">search</label>
      </div>
    </form>
  </div>
</header>
