<section class="hero">
  <div class="container hero_wrap">
    <div class="main_text_wrap">
      <p class="first_line">Web-based platform</p>
      <h1 class="main_title">Marvelous Adventures</h1>
      <p class="paragraph">
        is a web-based platform that provides an immersive experience for users
        to explore and discover a vast collection of Marvel characters and
        comics. Start exploring the Marvelous Adventures now by visiting our
        Characters and Comics sections and discover your new favorites today.
      </p>
      <button type="button" class="characters_redirect_btn panther">
        All characters
      </button>
    </div>
    <div class="slider_wrap">
      <div class="slider_items_wrap">
        <div class="left_part hulk"></div>
        <div class="right_part">
          <div class="relative_wrap">
            <div class="right_img panther"></div>
            <span class="decor_circle panther">TEXT TO CHANGE</span>
            <svg width="32" height="32" class="decor_arrow panther">
              <use href="./images/icons/sprite.svg#icon-hero-arrow"></use>
            </svg>
          </div>
          <span class="decor_line"></span>

          <div class="descr_wrap">
            <p class="descr_title">Characters</p>
            <p class="descr_paragraph">
              T’Challa is the king of the secretive and highly advanced African
              nation of Wakanda - as well as the powerful warrior known as the
              Black Panther.
            </p>
          </div>
        </div>
      </div>
      <ul class="slider_btns_list">
        <li><button type="button" class="slider_btn"></button></li>
        <li><button type="button" class="slider_btn"></button></li>
        <li><button type="button" class="slider_btn"></button></li>
      </ul>
    </div>
  </div>
</section>
