<section class="random_characters_section">
  <div class="container random_wrap">
    <h2 class="random_title">Random characters</h2>
    <div class="info_wrap">
      <!-- <img
        src="./images/random/marvel.jpeg"
        alt="Marvel logo"
        class="character_image character_image_plug"
      /> -->
      <img
        src="./images/random/marvel.jpeg"
        alt="Movie character"
        class="character_image fetched active"
      />
      <ul class="text_list">
        <li class="text_block_item active">
          <p class="character_name"></p>
          <p class="character_info"></p>
        </li>
        <li class="text_block_item">
          <p class="character_name"></p>
          <p class="character_info"></p>
        </li>
        <li class="text_block_item">
          <p class="character_name"></p>
          <p class="character_info"></p>
        </li>
        <li class="text_block_item">
          <p class="character_name"></p>
          <p class="character_info"></p>
        </li>
        <li class="text_block_item">
          <p class="character_name"></p>
          <p class="character_info"></p>
        </li>
      </ul>
    </div>
    <button type="button" class="characters_redirect_btn">
      All characters
    </button>
  </div>
</section>
