<section class="random_characters_section">
  <div class="container random_wrap">
    <h2 class="random_title">Random characters</h2>
    <div class="info_wrap">
      <img
        src="./images/hero/example.png"
        alt="Movie character"
        class="character_image"
      />
      <ul class="text_list">
        <li class="text_block_item">
          <p class="chatacter_name">Ant-Man</p>
          <p class="chatacter_info">
            Thief turned hero Scott Lang uses size manipulation tech to
            infiltrate bases and intimidate bad guys.
          </p>
        </li>
        <li class="text_block_item">
          <p class="chatacter_name">Ant-Man</p>
          <p class="chatacter_info">
            Thief turned hero Scott Lang uses size manipulation tech to
            infiltrate bases and intimidate bad guys.
          </p>
        </li>
        <li class="text_block_item">
          <p class="chatacter_name">Ant-Man</p>
          <p class="chatacter_info">
            Thief turned hero Scott Lang uses size manipulation tech to
            infiltrate bases and intimidate bad guys.
          </p>
        </li>
        <li class="text_block_item">
          <p class="chatacter_name">Ant-Man</p>
          <p class="chatacter_info">
            Thief turned hero Scott Lang uses size manipulation tech to
            infiltrate bases and intimidate bad guys.
          </p>
        </li>
        <li class="text_block_item">
          <p class="chatacter_name">Ant-Man</p>
          <p class="chatacter_info">
            Thief turned hero Scott Lang uses size manipulation tech to
            infiltrate bases and intimidate bad guys.
          </p>
        </li>
      </ul>
    </div>
    <button type="button" class="characters_redirect_btn">
      All characters
    </button>
  </div>
</section>
