<section class="random_characters_section">
  <div class="container random_wrap">
    <h2 class="random_title">Random characters</h2>
    <div class="info_wrap">
      <img
        src="./images/random/marvel.jpeg"
        alt="Movie character"
        class="character_image active"
        data-modal-open
      />
      <ul class="text_list">
        <li class="text_block_item active">
          <p class="character_name">Lorem</p>
          <p class="character_info">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam,
            facilis odio? Tenetur, voluptate? Quaerat minus, adipisci animi
            esse, architecto, illum eligendi et similique maiores fuga non aut
            officiis incidunt corporis.
          </p>
        </li>
        <li class="text_block_item">
          <p class="character_name">Lorem</p>
          <p class="character_info">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam,
            facilis odio? Tenetur, voluptate? Quaerat minus, adipisci animi
            esse, architecto, illum eligendi et similique maiores fuga non aut
            officiis incidunt corporis.
          </p>
        </li>
        <li class="text_block_item">
          <p class="character_name">Lorem</p>
          <p class="character_info">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam,
            facilis odio? Tenetur, voluptate? Quaerat minus, adipisci animi
            esse, architecto, illum eligendi et similique maiores fuga non aut
            officiis incidunt corporis.
          </p>
        </li>
        <li class="text_block_item">
          <p class="character_name">Lorem</p>
          <p class="character_info">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam,
            facilis odio? Tenetur, voluptate? Quaerat minus, adipisci animi
            esse, architecto, illum eligendi et similique maiores fuga non aut
            officiis incidunt corporis.
          </p>
        </li>
        <li class="text_block_item">
          <p class="character_name">Lorem</p>
          <p class="character_info">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam,
            facilis odio? Tenetur, voluptate? Quaerat minus, adipisci animi
            esse, architecto, illum eligendi et similique maiores fuga non aut
            officiis incidunt corporis.
          </p>
        </li>
      </ul>
    </div>
    <a href="./characters.html" class="characters_redirect_link">
      All characters
    </a>
  </div>
</section>
